
<div id="container"><div id="container_header">Duyurular</div>

               <% if current_user.id != 3 %>
  <% a=current_user.name %>

  <%= link_to mypage_path, :class=> 'button small orange' do %>
      <span class="btnL"></span>
      <span class="label"> <%= a.split.each { |x| print x.capitalize!, " "}.join(" ") %></span>
      <span class="btnR"></span>
  <% end %>



  <%= link_to new_comment_path, :class=> 'button small orange' do %>
      <span class="btnL"></span>
      <span class="label"> <%= "Yeni İçerik Girişi" %></span>
      <span class="btnR"></span>
  <% end %>
                            <% end %>
  <table>
    <tr >
      <td>
        <div id="page">
          <div id="left_side">

            <%= form_tag(filter_path) do |f| %>
                <div id="styled_select"><%= select_tag(:type_id ,options_for_select(["Seçiniz"])+options_from_collection_for_select(Type.find(:all), "id", "name"),{:onchange => "this.form.submit();"} ) %></div>
            <% end %>







          </div>
          <div id="right_side">

            <% if current_user.id==3 %>

                <% @comments.reverse.each do |f| %>

                    <% if f.report == true  %>

                        <% a=User.find(f.user_id).name %>
                        <div id="for_comment"><div id="comments_header"><%= a.split.each { |x| print x.capitalize!, " "}.join(" ") %><div style="float: right; margin-right: 3px; font-weight: normal; font-size: 12px;"><%= f.created_at.try(:strftime, "%d/%m/%Y - %H:%M") %></div></div>
                          <div id="comment_item"><%= Tag.find(f.tag_id).name+ "-" +Type.find(f.type_id).name %></div>
                          <div id="comment_item"><%= f.message %></div>
                          <span id="comment_item"><%= link_to 'Sil', f, :confirm => 'Emin Misiniz?', :method => :delete %></span>
                          <span id="comment_item"><%=link_to "Şikayeti Kaldır", :id => f, :controller => "comments", :action => "unreporting"  %></span>
                        </div></br>
                    <% end %>

            <% end %>

                <% else %>



            <% @comments.each do |f| %>
                <% TakenLecture.all.each do |t| %>
                    <% if t.user_id==current_user.id and t.tag_id==f.tag_id and f.hiding == true  %>

                        <% a=User.find(f.user_id).name %>
                        <div id="for_comment"><div id="comments_header"><%= a.split.each { |x| print x.capitalize!, " "}.join(" ") %><div style="float: right; margin-right: 3px; font-weight: normal; font-size: 12px;"><%= f.created_at.try(:strftime, "%d/%m/%Y - %H:%M") %></div></div>
                          <div id="comment_item"><%= Tag.find(f.tag_id).name+ "-" +Type.find(f.type_id).name %></div>
                          <div id="comment_item"><%= f.message %></div>

                          <% if f.translating? %>

                          <span id="comment_item"><%=link_to_function 'Çeviriyi Gör', 'alert("'+f.translating+' ")' %></span>

                          <% end %>

                          <% if f.report==false %>
                          <span id="comment_item"><%=link_to "Şikayet Et", :id => f, :controller => "comments", :action => "reporting"  %></span>
                             <% else %>
                           <span id="comment_item" style="color: red; font-weight: bold;"><%= "Şikayet Edilmiştir" %></span>
                              <% end %>

                        </div></br>
                    <% end %>
                <% end %>
            <% end %>

                <% end %>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div align='right' style="margin-right: 80px; margin-top: 10px; margin-bottom: -10px;"><%= will_paginate :next_label => 'İleri &#8680;', :previous_label => '&#8678; Geri' %></div>
  <hr>

</div>
