
<div id="container"><div id="container_header">Duyurular</div>


  <table>
    <tr >
      <td>
        <div id="page">



          <div id="left_side">




            <%= form_tag(mypagefilter_path) do |f| %>
            <div id="styled_select"><%= select_tag(:type_id ,options_for_select(["Seçiniz"])+options_from_collection_for_select(Type.find(:all), "id", "name"),{:onchange => "this.form.submit();"} ) %></div>
        <% end %>



          </div>



          <div id="right_side">

            <% @comments.reverse.each do |f| %>
                <% TakenLecture.all.each do |t| %>
                    <% if t.user_id==current_user.id and t.tag_id==f.tag_id  %>

                        <% a=User.find(f.user_id).name %>
                        <div id="for_comment"><div id="comments_header"><%= a.split.each { |x| print x.capitalize!, " "}.join(" ") %></div>
                          <div id="comment_item"><%= Tag.find(f.tag_id).name+ "-" +Type.find(f.type_id).name %></div>
                          <div id="comment_item"><%= f.created_at.try(:strftime, "%d/%m/%Y  -  %H:%M") %></div>
                          <div id="comment_item"><%= f.message %></div>
                          <% if f.hiding==true %>
                          <span id="comment_item"><%=link_to "Gizle", :controller => "comments", :action => "hide", :id => f  %></span>
                              <% else %>
                          <span id="comment_item"><%=link_to "Gizleme", :controller => "comments", :action => "unhide", :id => f  %></span>
                              <% end %>
                          <span id="comment_item"><%= link_to 'Düzenle', edit_comment_path(f) %></span>
                          <span id="comment_item"><%= link_to 'Sil', f, :confirm => 'Emin Misiniz?', :method => :delete %></span>
                        </div>
                        </br>


                    <% end %>




                <% end %>
            <% end %>




          </div>



        </div>
      </td>
    </tr>
  </table>
  <hr>
</div>
