<!DOCTYPE html>
<html>
<head>
  <title>Comments</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Sisteme, <%= current_user.email %> adresiyle giriş yapılmıştır.
    <%= link_to "Çıkış yap", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Kayıt ol", new_user_registration_path %> ya da kayıtlıysan <%= link_to "Giriş yap", new_user_session_path %>
  <% end %>
</div>



<%= yield %>

</body>
</html>
